.container-fluid{
    height: 100vmax;
    width: 100vmax;
    background-image: url('image.png');
    background-color: black;
}

.box{
    height: 100vmax;
    width: 100vmax;
    background-color: rgba(0,0,0,0.5);
    color: white;

}
.displaycontainer{
    align-items: center;
    color: white;
}

.displaycontainer h1{
    font-size: 8.5rem;
    margin-top: 147px;
    text-align: center;
}
.displaycontainer p{
    text-align: center;
    font-size: 67px;

}

section{
    height: 400px;
}


